$bg: #252525;
$fg: #b2b2b2;

* {
  all: unset;
  font-family: "FantasqueSansM Nerd Font", sans-serif;
  color: $fg;
}

.clock {
  background-color: $bg;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}


.cava{
  font-size: 310px;
  color: $bg;
}

.songname{
  color: $fg;
  font-size: 20px;
  padding: 5px;
}

.button{
  font-size: 20px;
  padding: 10px;
}

.buttonright{
  font-size: 20px;
  padding: 10px;
  padding-right: 15px;
}



.musicmain{
  background: $bg;
  border-radius: 30px;
  opacity: 0.9;
}


.musicarea{
  border-radius: 30px;
  background: $bg;
}


.musicbuttonhome{
  font-size: 50px;
  padding: 10px;
}

.musicbuttonright{
  font-size: 50px;
  padding: 10px;
  padding-right: 15px;
}

.songnamehome{
  color: $fg;
  font-size: 50px;
  padding: 5px;
}


.cavahome{
  font-size:75px;
}


.clockwidget{
  background: $bg;
  border-radius: 30px;
}

.time{
  font-size:35px;
}

.syswidget{
  background: $bg;
  padding: 20px;
  border-radius: 30px;
}

.systext{
  font-size: 30px;
}

.percentage{
  font-size: 30px;
}
