.calendar-container {
  padding: 4px;
  border-radius: 12px;
  background-color: $background;
  color: $foreground;
  min-width: 218px;
}


.calendar-title {
  font-size: 20px;
  font-weight: bold;
  color: $fg;
}

.weekdays .label {
  color: $fg;
}

.calendar-grid .day {
  min-width: 22px;
  margin: 2px;
}

.calendar-grid .today {
  color: $background;
  background-color: $fg;
  border-radius: 6px;
  font-weight: bold;
  padding: 2px;
}

